################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectBase/v16
/ClassDiagram1.cd
/ClassDiagram2.cd
